<header>
	<!--Navbar-->
	<nav class="navbar navbar-toggleable-md navbar-dark fixed-top">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">
				<strong>M6</strong>
			</a>
			<div class="collapse navbar-collapse" id="navbarNav1">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navbarNav1">
						<a [routerLink]="['/results']"  class="nav-link">
							開獎結果
						</a>
					</li>
					<li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navbarNav1">
						<a [routerLink]="['/calculator']" class="nav-link">
							計數機
						</a>
					</li>
					<li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navbarNav1">
						<a [routerLink]="['/charts']" class="nav-link">
							走勢圖
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--/.Navbar-->
</header>